.onePokemon > div {
    margin-left: 5%;
    background-color: aqua;
}

.onePokemon:hover {
    cursor: pointer;
    background-color: rgba(121, 121, 121, .5);
}

.header {
    display: inline;
    font-size: 30px;
    border-bottom: 2px solid black;
}

.pokeImage {
    background-color: rgb(179, 138, 28);
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  
  .pokeImage:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }