.onePokemon > div {
    margin-left: 5%;
    background-color: aqua;
}

.onePokemon:hover {
    cursor: pointer;
    background-color: rgba(121, 121, 121, .5);
}

.header {
    display: inline;
    font-size: 30px;
    border-bottom: 2px solid black;
}